<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="BenLi06.BluetoothAudioCodecViewer"
    Publisher="CN=FC1FF585-22D6-4DFB-97E0-9D22B6842CC6"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Bluetooth Audio Codec Viewer</DisplayName>
    <PublisherDisplayName>BenLi06</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Resources>
    <Resource Language="en-US" />
    <Resource Language="zh-CN" />
    <Resource Language="zh-TW" />
    <Resource Language="ja" />
    <Resource Language="fr" />
    <Resource Language="es" />
    <Resource Language="pt-BR" />
    <Resource Language="de" />
    <Resource Language="it" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Bluetooth Audio Codec Viewer"
        Description="View the Bluetooth audio codec negotiated by Windows"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="allowElevation" />
  </Capabilities>
</Package>
